body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #F9F9F6;
    color: #00231C;
}

/* navigation */
nav{
    background-color: #4B4A1E;
    color: #ffffff;
    height: 80px;
}

.header-nav{
    justify-content: center;
}

.navbar-nav{
    text-align: right;
    background-color: #4B4A1E;
    position: relative;
    z-index: 1;
}

.nav-item{
    padding: 10px;
    text-align: center;
}

.nav-item.active{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav-item.active:hover{
    color: #d4c97d;
}

.nav-link{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.nav-link:hover{
    color: #d4c97d;
}

.sr-only{
    display: none;
}

.first-view{
    background-image: url('../img/BirchTree.png');
    background-color:rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    text-align: center; 
}

.first-view > div{
    height: 30vh;
}

#catch-phrase{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #79512E;
    letter-spacing: 0.03em;
    margin: 0;
    font-size: calc(0.3rem + 3vw);
    text-align: center;
}

#brand-logo{
    width: 20vw;
}

/* footer */
footer{
    background-color: #4B4A1E;
}

footer h3{
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-nav > .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

.footer-nav > .navbar-nav > .nav-item{
    padding-top: 0px;
}

.sns{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.btn-sns{
    width: 30px;
}

/* main */
h2{
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: "Comfortaa", sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

h3{
    margin-bottom: 25px;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.btn{
    background-color: #9D352E;
    width: 100%;
    color: #ffffff;
}

.btn:hover{
    background-color: #7A2621;
    color: #ffffff;
}

input{
    width: 100%;
}

@media (min-width: 768px) {
    p{
        text-align: left;
    }

    .header-nav{
        justify-content: end;
    }

    .first-view{
        height: 66.67vh;
    }

    .first-view > div{
        height: 66.67vh;
    }

    #brand-logo{
        width: 200px;
        height: 200px;
    }

    #catch-phrase{
        text-align: left;
    }

    h2{
        margin-top: 70px;
        margin-bottom: 20px;
        font-size: 32px;
    }

    h3{
        margin-top: 60px;
        margin-bottom: 25px;
        font-size: 24px;
    }

    footer > div > h3{
        padding-top: 30px;
        margin-bottom: 20px;
    }
}