/* gallery */
.gallery img{
  width: 100%;
  height: auto;
  display: block;   
}

.product-title{
    font-size: 18px;
    margin-top: 20px;
}

.gallery p{
    margin-top: 20px;   
}

#btn-view-cart{
    width: 350px;
}